#root {
  /* max-width: 1280px; */
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav#top-nav {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-title {
  padding: 1em;
}

.logo {
  height: 2em;
  padding: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  padding: 1rem 2rem;
}
